#categories {
  margin-top: 75px;
}

.categories-container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

}

.categories-header {
  margin: 10px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories-title {
  margin: 0;
  color: #111111;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.categories-link {
  text-decoration: none;
  color: #D97843;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.categories-link:hover {
  color: #f7590b;
  transform: translateY(-2px);

}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 35px;
  justify-content: center;
  padding: 0 35px;

}

.category-card {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  text-decoration: none;
  cursor: pointer;
}

.category-card:hover .category-img {
  transform: translateY(-4px);
}

.category-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  height: 115px;
  width: 115px;
  background-color: #F7F6F3;
  transition: transform 0.3s ease;
}

.category-image {
  height: 74px;
  width: 74px;
  object-fit: contain;

}

.category-details {
  display: flex;
  gap: 7px;
  align-items: center;
}

.category-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(27, 56%, 94%);
  height: 40px;
  width: 40px;
  flex-shrink: 0;
  border-radius: 50%;

}

.category-icon {
  height: 28px;
  width: 28px;
  object-fit: contain;

}

.category-info {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  min-width: 90px;
  align-items: flex-start;
}

.category-name {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #111111;
}

.category-count {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #616060;
}