#site-footer {
  width: 100%;
  margin-top: 20px;
  background-color: #F8F7F4;

}

.footer-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(224, 221, 221);

}

.footer-main {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
  padding: 50px 40px 40px 40px;

}

.footer-brand {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

}

.brand-header {
  display: flex;
  gap: 4px;

}


.brand-icon {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  object-fit: contain;

}

.brand-info {

  display: flex;

  flex-direction: column;

  row-gap: 6px;

  justify-content: center;

}

.brand-logo {

  text-decoration: none;
  font-family: "Playfair Display", Georgia, serif;
  font-size: 35px;
  font-weight: 700;
  color: black;

}

.brand-tagline {

  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #D97843;

}

.brand-description {

  margin: 0;
  width: 230px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;

}

.footer-benefits {

  display: flex;

  flex-direction: column;

  row-gap: 10px;

  justify-content: start;

}

.footer-benefit {

  display: flex;
  align-items: center;
  gap: 15px;

}

.footer-benefit-icon {
  height: 30px;
  width: 30px;
  object-fit: contain;

}

.footer-benefit-name {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;

}

.quick-links,

.customer-links {

  display: flex;
  flex-direction: column;
  row-gap: 25px;

}

.footer-column-title {

  margin: 0;
  position: relative;
  padding-bottom: 20px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;

}

.footer-column-title::after {

  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 55px;
  height: 2px;
  background-color: #D97843;

}



.footer-link-list {

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  justify-content: flex-start;

}

.footer-link-item {

  list-style: none;

}

.footer-link {

  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: black;
  transition: color 0.3s ease;

}

.footer-link:hover {
  color: #D97843;
}


.footer-contact {

  display: flex;
  flex-direction: column;
  row-gap: 25px;

}

.contact-items {

  display: flex;
  flex-direction: column;
  row-gap: 30px;

}

.contact-item {

  display: flex;
  align-items: flex-start;
  gap: 12px;

}

.contact-icon {

  height: 25px;
  width: 25px;

}

.contact-content {

  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  width: 150px;

}

.contact-hours {

  display: flex;
  flex-direction: column;
  row-gap: 8px;

}

.weekday-hours,

.weekend-hours {

  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;

}

.footer-newsletter {

  border: 1px solid rgb(224, 221, 221);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;

}

.newsletter-content {

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

}

.newsletter-icon-wrapper {

  border-radius: 50%;
  background-color: #e7dad1;
  padding: 22px;

}

.newsletter-icon {

  height: 30px;
  width: 30px;
  object-fit: contain;

}



.newsletter-text {

  display: flex;
  flex-direction: column;
  row-gap: 10px;

}


.newsletter-title {

  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;

}


.newsletter-description {

  margin: 0;
  width: 320px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4;

}



.email-bar {

  display: flex;
  border: 1px solid rgb(224, 221, 221);
  border-radius: 4px;

}

.email-input {

  display: flex;
  width: 340px;
  height: 44px;
  padding-left: 15px;
  border-radius: 4px;
  border: none;
}

.email-input:focus {
  outline: none;
}

.subscribe-button {

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  width: 130px;
  height: 44px;
  border-radius: 2px;
  border: none;
  background-color: #D97843;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.subscribe-button:hover {

  background-color: #de5f20;

}

.footer-bottom {

  background-color: black;
  padding: 18px 30px 40px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

}

.footer-legal {

  display: flex;
  flex-direction: column;
  row-gap: 25px;

}

.copyright {

  color: white;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400;

}

.footer-legal-links {

  display: flex;
  gap: 15px;

}

.footer-legal-link {

  color: white;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400;
  transition: color 0.3s ease;

}

.footer-legal-link:hover {
  color: #D97843;
}

.link-separator {

  height: 18px;
  width: 1px;
  background-color: white;

}

.footer-payments {

  display: flex;
  flex-direction: column;
  row-gap: 25px;

}

.footer-payment-title {
  padding-top: 10px;
}

.payment-methods {

  display: flex;
  align-items: center;
  gap: 15px;

}



.payment-icon {
  height: 40px;
  width: 60px;
  object-fit: contain;
  background-color: white;
  border-radius: 6px;
}



.footer-social {

  display: flex;
  flex-direction: column;
  row-gap: 25px;

}

.footer-social-title,
.footer-payment-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: white;

}

.social-links {

  display: flex;
  gap: 15px;

}

.social-link {

  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 50%;
  transition: transform 0.3s ease;

}

.social-link:hover {
  transform: translateY(-3px);
}

.social-icon {

  height: 22px;
  width: 22px;

}